# Ignore build directories from Qt :
build_*
build

# Ignore compiled libs :
lib/

# Ignore build files from Qt (using cmake here) :
*.pro
*.user

# Ignore files for CCLS (on vim editors) :
.ccls-cache/
compile_commands.json
