[submodule "TinyTIFF"]
	path = third_party/TinyTIFF
	url = https://github.com/jkriege2/TinyTIFF.git
	ignore = dirty
[submodule "glm"]
	path = third_party/glm
	url = https://github.com/g-truc/glm.git
	ignore = dirty
[submodule "QGLViewer"]
	path = third_party/libQGLViewer
	url = https://github.com/GillesDebunne/libQGLViewer.git
	ignore = dirty
[submodule "libtiff"]
	path = third_party/libtiff
	url = https://github.com/libtiff/libtiff.git
	ignore = dirty
[submodule "third_party/nifticlib"]
	path = third_party/nifticlib
	url = https://github.com/NIFTI-Imaging/nifti_clib.git
	ignore = dirty
[submodule "third_party/zlib"]
	path = third_party/zlib
	url = https://github.com/madler/zlib.git
	ignore = dirty
[submodule "third_party/nanoflann"]
	path = third_party/nanoflann
	url = https://github.com/jlblancoc/nanoflann.git
	ignore = dirty
