# Ignore build directories from Qt :
build_*
build
release/
debug/
reldebug/

# Ignore compiled libs :
lib/

# Ignore build files from Qt (using cmake here) :
*.pro
*.user

# Ignore QGLViewer XML's files :
*.xml

# Ignore files for CCLS (on vim editors) :
.ccls-cache/
compile_commands.json

# Ignore local utility folder :
utilities/
