[submodule "TinyTIFF"]
	path = TinyTIFF
	url = https://github.com/jkriege2/TinyTIFF.git
	ignore = untracked
[submodule "gl"]
	path = gl
	url = git@gitlab.com:thibaulltt/glhandler.git
[submodule "glm"]
	path = glm
	url = git@github.com:g-truc/glm.git
[submodule "QGLViewer"]
	path = libQGLViewer
	url = git@github.com:GillesDebunne/libQGLViewer.git
[submodule "libtiff"]
	path = libtiff
	url = git@gitlab.com:libtiff/libtiff.git
	ignore = untracked
[submodule "libQGLViewer"]
	ignore = untracked
